* {

}

.container {
	border-radius: 2px;
	border: 1px solid #e4e4e4;
	padding: 10px;
	margin: 10px;
	display: inline-block;
}

#player_drinks {
	width: 80%;
}

.control {
	font-size: 1.5em;
	margin: 10px;
	display: inline-block;
}